:root {
    --main-color: #dbe2ef;
    --dark-color: #3f72b0;
    --light-gray-color: #c9d6df;
    --light-white-color: #fafafa;
    --dark-gray-color: #3b3a3a;
    font-size: 16px;
}

body {
    background-color: var(--light-white-color);
    color: var(--dark-gray-color);
    min-height: 100vh;
    position: relative;
}

.gray {
    border-top: 1px solid #bdc8cf;
}

.center {
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin: 1.7rem auto;
    text-shadow: 2px 0 5px var(--light-gray-color);
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-bold {
    font-weight: bold;
}

.txt-sml {
    font-size: 0.8rem;
}

.txt-medium {
    font-size: 1.2rem;
}

.red-text {
    color: red;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side {
    margin-right: 8%;
}

.content-wrapper {
    padding-bottom: 4rem;
}

.container {
    width: 50vw;
}

.container-lg {
    width: 80vw;
}

.container-sml {
    width: 35vw;
    height: 8rem;
}

.card {
    box-shadow: 2px 3px 4px #ccc;
    padding-bottom: 15px;
}

.cards {
    margin: 1rem auto;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

a:hover {
    text-decoration: none !important;
    color: var(--dark-color) !important;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 1rem;
}

p {
    font-size: 1.3rem;
    margin: 1.2rem 0;
}

hr {
    display: block;
    background-color: var(--main-color);
    border-style: none;
}

.btn {
    padding: 10px;
    background-color: var(--main-color) !important;
    border: 1.1px solid var(--dark-color);
    border-radius: 1000px;
    box-shadow: 2px 2px 5px var(--light-gray-color),
        0 2px 4px var(--light-white-color) inset !important;
    color: var(--dark-color);
}

.btn:hover {
    color: var(--dark-color);
    box-shadow: 3px 4px 5px var(--dark-gray-color);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.btn-sml {
    margin-left: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;
}

.btn-md {
    width: 3.5rem;
    height: 2.5rem;
}

.btn-lg {
    width: 5.5rem;
    height: 3rem;
}

.app-btn {
    width: auto !important;
}

.btn-inline {
    display: inline-block;
    margin: 0 1rem;
}

.form {
    width: 70vw;
}

.form p label {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.form p span {
    font-size: 0.9rem;
}

.form ul li {
    font-size: 0.9rem;
}

form table label {
    color: inherit;
    font-size: 1.2rem;
}

form table input {
    /* height: 0; */
    font-size: 0.8rem;
}

form table input:focus {
    outline: none;
}

form table tr {
    border-bottom: none;
}

form table th {
    padding: 0;
}

input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    margin: 0.9rem auto;
    /* width: 70vw; */
    border: none;
    border-bottom: 1px solid var(--dark-gray-color);
    background-color: inherit;
}

.form p > input,
.form input:not(.btn) {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0),
        inset 0 0 0 100px var(--light-white-color) !important;
}

textarea {
    border: 1px solid var(--dark-gray-color);
    background-color: var(--light-white-color);
    /* width: 70vw; */
    margin: 0.7rem auto;
}

select {
    display: block;
    margin: 0.7rem auto;
    border: 1px solid var(--dark-gray-color);
}

.btn:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

/* nav bar */
nav {
    height: 2rem;
    width: 100vw;
    line-height: 2rem;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 3px 0 3px #ccc;
    background-image: linear-gradient(
        to bottom,
        var(--dark-color),
        var(--main-color)
    );
}

.mynav {
    padding: 0 1rem;
}

.nav-logo {
    display: block;
    float: left;
    height: 2rem;
    width: auto;
    margin-top: 0px;
    margin-left: 5px;
    padding: 2px;
}

.name-logo {
    height: 2rem;
    display: inline;
    margin: 0;
}

nav label {
    display: block;
    float: right;
    margin-right: 0.5rem;
}

.nav-li {
    background-color: var(--main-color);
    margin-right: 1rem;
    width: 8rem;
}

nav ul li {
    display: block;
}

nav ul a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 0.9rem;
}

nav input {
    display: none;
}

nav ul {
    display: none;
}

nav input:checked ~ ul {
    display: flex;
    position: absolute;
    right: 25px;
    top: 25px;
    height: 150px;
    width: 50px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav input:checked ~ ul li {
    display: block;
    border-bottom: 0.5px solid var(--light-gray-color);
}

/* Specific elements */

.api-block {
    min-height: 13rem;
    margin: 1rem;
}

.fc-button {
    width: 3rem;
    height: auto;
}

.fc-today-button {
    font-size: 0.7rem;
}

.line {
    border-bottom: 6px solid var(--light-gray-color);
    height: 1px;
    width: 90vw;
    margin: 0 auto;
}

.line-margin {
    border-bottom: none;
    width: 0;
    margin-top: 1rem;
}

.main-logo {
    display: inline;
    width: 6rem;
}

.scrapper {
    background-color: var(--main-color);
    min-height: 14rem;
}

.scrapper h2 {
    margin-top: -5rem;
}

.scrapper div input {
    width: 50vw;
    background-color: var(--main-color);
}

.scrapper div input {
    margin: 1rem auto !important;
}

#scrapper-results {
    width: 85vw;
    margin: 0 auto;
    max-height: 20rem;
    overflow-y: scroll;
}

.icon {
    display: block;
    margin-top: -0.15rem;
    margin-left: -0.15rem;
    color: var(--dark-color);
}

.text {
    display: none;
}

.search-btn {
    display: block;
    margin: 0 auto;
}

.main {
    padding-top: 1rem;
}

.border-bottom {
    border-bottom: 1px solid var(--dark-gray-color);
    margin-top: 2rem;
}

#news {
    height: 10rem;
    width: 90vw;
    margin: 8px auto;
    overflow-y: scroll;
    text-align: justify;
}

#news ul li {
    width: 87vw;
}

.about-pg {
    display: block;
    width: 90vw;
    margin: 0 auto;
}

.forced-margin {
    margin: 0 1rem;
}

.profile-div-parent {
    margin: 0 2rem;
}

#id_applied {
    box-shadow: 0 0 0 #000 !important;
    display: block;
    margin: 0 10px;
    margin-top: -15px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-gray-color);
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    opacity: 1;
    pointer-events: fill;
}

.file-upload {
    align-items: center;
    font-size: 15px;
}

#resume-file {
    display: none;
}

.file-upload-button {
    -webkit-appearance: none;
    border-radius: 1000px;
    outline: none;
    padding: 0.5em 0.8em;
    height: auto;
    width: auto;
}

.file-upload-label {
    max-width: 250px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.5rem;
}

.appl-th-width {
    width: 5rem;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 3rem;
    width: 70%;
    height: 70%;
    overflow: auto;
    background-color: rgba(63, 114, 175, 0.6);
}

.modal-content {
    background-color: var(--main-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
}

.modal-content label,
.modal-content input {
    color: #000;
}

.close {
    color: var(--dark-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.fc-toolbar h2 {
    font-size: 1rem;
}

#calendar > div.fc-toolbar.fc-header-toolbar {
    margin: 1.1rem;
}

#calendar > div.fc-view-container > div > div {
    height: 165px !important;
}

#calendar > div.fc-view-container > * td.fc-event-container {
    color: white;
}

.hidden {
    display: none;
}

.link-btn:hover {
    color: #a6b7d7;
}

.fa-spinner {
    color: #3f72b0;
    margin: 20px;
}

.btn.link-btn {
    width: auto;
}

.btn.btn-wide {
    width: auto;
    background-color: var(--light-gray-color);
}
.search-result {
    margin: 50px 0;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    margin-top: 1rem;
    background-image: linear-gradient(
        to top,
        var(--dark-color),
        var(--main-color)
    );
}

footer div {
    float: right;
    font-size: 0.6rem;
    margin-right: 1rem;
    color: var(--light-white-color);
}

/* media queries */
@media (min-width: 768px) {
    .content-wrapper {
    }

    /* nav bar */
    #hamburger,
    nav label,
    .name-logo {
        display: none;
    }

    nav {
        height: 4.5rem;
    }

    .nav-logo {
        height: 4.4rem;
        margin-top: 2px;
        padding: 2px 20px;
    }

    .nav-li {
        display: flex;
        justify-content: flex-end;
        width: calc(100vw - 130px);
        height: 4rem;
        background-color: transparent;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: flex;
        align-items: right;
        padding-top: 5px;
    }

    nav ul a {
        padding: 0.9rem 0.7rem;
    }

    nav ul a li {
        color: var(--light-white-color);
    }

    nav ul a:hover {
        color: var(--dark-color);
        background-color: #c4d3f1;
        border-radius: 1000px;
        cursor: pointer;
    }

    nav ul a li:hover {
        color: var(--dark-color);
    }

    nav ul a:focus {
        outline: none;
    }

    nav ul a {
        color: var(--dark-color);
        font-size: 1.3rem;
    }

    .line {
        border-left: 6px solid var(--light-gray-color);
        height: 20rem;
        width: 1px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 5rem;
        z-index: 1;
    }

    .line-margin {
        margin-top: 160px;
    }

    .line-lg {
        position: relative;
        height: 25rem;
        left: 0.5%;
        top: 1.3rem;
    }

    .api-section {
        display: flex;
        width: 100vw;
        height: 21rem;
    }

    .api-block {
        height: 20rem;
        width: 45vw;
        margin: auto 2rem;
    }

    .main-logo {
        width: 13rem;
    }

    .scrapper {
        min-height: 25rem;
    }

    .scrapper h2 {
        margin-top: -6rem;
        font-size: 1.6rem;
    }

    .myflex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scrapper div input {
        display: inline;
        font-size: 1.2rem;
        margin: 1.5rem 0;
    }

    .btn {
        width: 4.5rem;
        height: 2.5rem;
        cursor: pointer;
        color: var(--dark-color) !important;
    }

    .btn-lg {
        height: 3rem;
    }

    /* form input #forced-bg {
        background-color: var(--main-color) !important;
        box-shadow: 2px 2px 5px var(--light-gray-color),
            0 2px 4px var(--light-white-color) inset !important;
    } */

    .search-btn,
    .search-location {
        margin-left: 20px;
    }

    .text {
        font: inherit;
        font-weight: bold;
        font-size: 1rem;
        color: var(--dark-color);
        display: inline-block;
    }

    .txt-sml {
        font-size: 1rem;
    }

    .icon {
        display: none;
    }

    .main {
        width: 100vw;
        padding-top: 2.5rem;
    }

    .container {
        width: 50vw;
    }

    .container-lg {
        width: 75vw;
    }

    .container-sml {
        width: 60vw;
    }

    .form {
        width: 45vw;
    }

    .form ul li {
        width: 30vw;
        margin: 0 auto;
    }

    .helptext {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    input {
        font-size: 1.3rem;
        text-align: center;
        margin: 2rem auto;
        width: 45vw;
    }

    #news {
        height: 17rem;
        width: 44vw;
    }

    #news ul li {
        width: 42vw;
    }

    .about-pg {
        display: flex;
        width: 95vw;
        justify-self: center;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    textarea {
        width: 40vw;
        display: block;
        margin: 1.5rem auto;
    }

    select {
        margin: 1.5rem auto;
    }

    .side {
        margin-right: 25%;
    }

    .index-card {
        height: 8rem;
    }

    .contacts-card {
        min-height: 8rem;
    }

    .profile-div-parent {
        margin: 0;
    }

    .profile-div {
        width: 40vw;
        padding: 0 10vw;
    }

    form table label {
        font-size: 1.5rem;
    }

    form table input {
        font-size: 1.2rem;
    }

    .del-btn {
        margin-left: 42%;
    }

    .file-upload-button {
        padding: 0.5em 0.8em;
        height: auto;
        width: auto;
    }

    .file-upload-label {
        font-size: 1.2rem;
        margin-left: 1rem;
    }

    /* footer */
    footer div {
        font-size: 1rem;
        margin-right: 3rem;
    }
}
