{% extends 'base.html' %} {% block content %} 

    <h2 class="text-center title">{{ contact.name }}'s Details</h2>
    <br />
    <div class="center container-lg txt-center">
        <p class="txt-medium">Email:</p>
        <p class="txt-sml">{{ contact.email }}</p>
        <p class="txt-medium">LinkedIn:</p>
        <p class="txt-sml">{{ contact.linkedin }}</p>
        <p class="txt-medium">Notes:</p>
        <p class="txt-sml">{{ contact.notes }}</p>
        {% if contact.application %}
        <p class="txt-medium">Application:</p>
        <p class="txt-sml">{{ contact.application }}</p>
        {% endif %}
        <br />
        <div class="flex">
            <button class="btn center txt-sml btn-md forced-margin">
                <a href="{% url 'contacts_update' contact.id %}">Edit</a>
            </button>
            <button class="btn center txt-sml btn-md forced-margin">
                <a href="{% url 'contacts_delete' contact.id %}">Delete</a>
            </button>
        </div>
    </div>
    {% endblock %}
</div>
