{% extends 'base.html' %} {% load static %} {% block scripts %}
<script src="{% static 'scripts/contactSearch.js' %}" defer></script>
{% endblock %} {% block content %}

<h2 class="text-center title">Contacts</h2>

<div class="center container-lg">
    <a href="{% url 'contacts_create' %}"><button class="btn center txt-sml btn-md side">
        Add</button></a>

    <br />

    <form class="form center" action="" method="get" id="contacts-search-form">
        <label class="txt-center center txt-medium" for="contacts-search"
            >Search a Contact:</label
        >
        <input
            class="border-bottom txt-center txt-sml"
            type="text"
            name="contacts-search"
            id="contacts-search"
            autocomplete="off"
        />
    </form>

    <br />
    <div class="center container-sm">
        <div id="display-contacts" class="row">
            {% for contact in contacts %}
            <div class="col-sm-6 col-md-4">
                <div class="card contacts-card m-3">
                    <div class="card-title">
                        <a href="{% url 'contacts_delete' contact.id%}" class="ml-2"
                            ><i class="far fa-times-circle"></i>
                        </a>
                        <a href="{% url 'contacts_update' contact.id %}" class="ml-2">
                            <i class="far fa-edit"></i>
                        </a>
                        <h5 class="txt-bold txt-center pt-3">
                            {{ contact.name }}
                        </h5>
                    </div>
                    <div class="card-content pl-3 pr-3">
                        {% if contact.application %}
                            <h6 class="txt-medium">Application: {{ contact.application.jobtitle }} at {{ contact.application.company }}</h6>
                        {% endif %} {% if contact.email %}
                            <h6 class="txt-medium"><a href='mailto:{{contact.email}}'>{{ contact.email }}</a></h6>
                        {% endif %} {% if contact.phone_number %}
                            <h6 class="txt-medium">Phone: {{ contact.phone_number }}</h6>
                        {% endif %} {% if contact.linkedin %}
                            <h6 class="txt-medium">
                                <a href="{{ contact.linkedin }}">LinkedIn</a>
                            </h6>
                        {% endif %} {% if contact.notes %}
                            <h6 class="txt-medium">Notes: {{ contact.notes }}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br />
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
