{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/contactSearch.js' %}" defer></script>
{% endblock %}
{% block content %}

<h2 class="text-center title">Contacts</h2>

<div class="center container-lg">
    <button class="btn center txt-sml btn-md side">
        <a href="{% url 'contacts_create' %}">Add</a>
    </button>

    <br />

    <form class="form center" action="" method="get" id="contacts-search-form">
        <label class="txt-center center txt-medium" for="contacts-search"
            >Search a Contact:</label
        >
        <input
            class="border-bottom txt-center txt-sml"
            type="text"
            name="contacts-search"
            id="contacts-search"
            autocomplete="off"
        />
    </form>

    <br />
    <div class="center container-sml">
        <div id="display-contacts">
            {% for contact in contacts %}
                <div class="flex-item">
                    <div class="card">
                        <div class="card-title-div">
                            <div class="card-title">
                                <span class="txt-bold txt-medium">{{ contact.name }}</span>
                            </div>
                        </div>
                        <div class="card-content">
                        {% if contact.application %}
                            <p class="txt-medium">Application: {{ contact.application.company }}</p>
                        {% endif %}
                        {% if contact.email %}
                            <p class="txt-medium">Email: {{ contact.email }}</p>
                        {% endif %}
                        {% if contact.phone_number %}
                            <p class="txt-medium">LinkedIn: {{ contact.phone_number }}</p>
                        {% endif %}
                        {% if contact.linkedin %}
                          <p class="txt-medium"><a href='{{ contact.linkedin }}'>LinkedIn</a></p>
                        {% endif %}
                        {% if contact.notes %}
                            <p class="txt-medium">Notes: {{ contact.notes }}</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
