{% extends 'base.html' %} {% block content %}
<h2 class="text-center title">Delete Application</h2>

<div class="center container-lg container-sml">
    <h4 class="text-center">
        Are you sure you want to delete
        <span class="txt-bold">{{ object.company }}</span>?
    </h4>

    <br />
    <br />

    <form class="form center" action="" method="POST">
        {% csrf_token %}
        <div class="flex">
            <input
                class="btn center txt-sml btn-md forced-margin"
                type="submit"
                value="Yes"
            />
            <button class="btn center txt-sml btn-md forced-margin txt-center">
                <a href="{% url 'application' %}">No</a>
            </button>
        </div>
    </form>
    {% endblock %}
</div>
