{% extends 'base.html' %} {% block content %}
<h2 class="text-center title">Delete Application</h2>

<div class="center">
    <h4 class="text-center">Are you sure you want to delete
        <span class="font-weight-bold">{{ object.company }}</span>?
    </h4>

    <br />
    <br />

<form class="form center" action="" method="POST">
    {% csrf_token %}
		<div class="flex">
			<input class="btn txt-sml btn-md forced-margin" type="submit" value="Yes">
			<a class="btn txt-sml btn-md forced-margin" href="{% url 'application' %}">No</a>
		</div>
</form>
{% endblock %}

