{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/objectName.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="center container-lg">
    {% if object %}
        <h2 class="txt-center title">Edit <span class="txt-bold">{{object.name}}</span></h2>
    {% else %}
        <h2 class="txt-center title">Add Contact</h2>
    {% endif %}
    <form class="form center" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex">
            <input class="btn txt-medium btn-lg forced-margin" type="submit" value="Submit">
            {% if object %}
                {% if object.application %}
                <button class="btn txt-medium btn-lg forced-margin"><a href='{% url "applications_detail" object.application_id %}'>Cancel</a></button>
                {% endif %}
            {% else %}
                <button class="btn txt-medium btn-lg forced-margin"><a href='{% url "contacts_index" %}'>Cancel</a></button>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}