{% extends 'base.html' %}

{% block content %}
<h2 class="text-center title">Delete Contact</h2>

<div class="center">
	<h4 class="text-center">Are you sure you want to delete <br> <span class="font-weight-bold">{{ object.name }}</span>?</h4>

	<br>
	<br>

	<div class="container-lg mx-auto flex">
		<form class="d-inline" action="" method="POST">
			{% csrf_token %}

			<input class="btn txt-medium btn-md forced-margin" type="submit" value="Yes">
		</form>
		{% if object.application %}
		<a class="btn txt-medium btn-md forced-margin d-inline" href='{% url "applications_detail" object.application_id %}'>No</a>
		{% else %}
		<a class="btn txt-medium btn-md forced-margin d-inline"
				href='{% url "contacts_index" %}'>No</a>
		{% endif %}
	</div>
</div>
{% endblock %}