{% extends 'base.html' %}


{% block content %}
<div class="center">
    {% if object %}
        <h2 class="text-center title">Edit <span class="font-weight-bold">{{object.name}}</span></h2>
    {% else %}
        <h2 class="text-center title">Add Contact</h2>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="container-lg">
        {{ form.as_table }}
        </table>
        <br>
        <div class="flex">
            <input class="btn txt-medium forced-margin" type="submit" value="Save">
            {% if object.application %}
                <button class="btn txt-medium forced-margin"><a href='{% url "applications_detail" object.application_id %}'>Cancel</a></button>
            {% else %}
                <button class="btn txt-medium forced-margin"><a href='{% url "contacts_index" %}'>Cancel</a></button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}