{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s3">
        <!-- Grey navigation panel -->
        <!-- image will go here -->
    </div>

    <div class="col s9">
        <!-- Teal page content  -->
        <h1>About Jobbly</h1>
        <hr />
        <p>
            Jobbly was developed through the lens of a user's experience during
            the job application process. Maintaining organization, a
            productivity flow, and a sense of direction allows job seekers to
            stay encouraged, accomplished and pragmatic. The volume, time
            sensitivity, and organization that goes into applying for your
            perfect job, can be a full time job in of itself - Jobbly is here to
            ease the load and get you organized to show the candidate you truly
            are.
        </p>
    </div>
</div>
{% endblock %}
