{% extends 'base.html' %}
{% block content %}

<h2 class="text-center title"> Username{{ user.username }} </h2>

<div class="center main container">
<p class="text-center"> Linkedin Account: </p>
<p class="border-bottom text-center"> S{{ user.profile.linkedin }} </p>
<br>
<p class="text-center"> Github Account: </p>
<p class="border-bottom text-center"> S{{ user.profile.github }} </p>
<br>
<p class="text-center"> Website/Portfolio: </p>
<p class="border-bottom text-center"> S{{ user.profile.website }} </p>
<br>
<p class="text-center"> Desired Position: </p>
<p class="border-bottom text-center"> S{{ user.profile.jobsearch }} </p>
<br>
<br>
<button class="btn center txt-medium btn-lg"><a href='{% url "edit_profile" %}'>Update</a></button>

</div>

{% endblock %}