{% extends 'base.html' %}
{% block content %}

<h2 class="text-center title">{{ user.username }}</h2>

<div class="center main container txt-center">
<p> Linkedin Account: </p>
<p class="border-bottom text-center txt-sml"><a href='{{user.profile.linkedin}}' target="_blank">{{ user.profile.linkedin }}</a></p>
<br>
<p> Github Account: </p>
<p class="border-bottom text-center center txt-sml"><a href='{{user.profile.github}}' target="_blank">{{ user.profile.github }}</a></p>
<br>
<p> Website/Portfolio: </p>
<p class="border-bottom text-center center txt-sml"><a href='{{user.profile.github}}' target="_blank">{{ user.profile.website }}</a></p>
<br>
<p> Desired Position: </p>
<p class="border-bottom text-center txt-sml"> {{ user.profile.jobsearch }} </p>
<br>
<p> Desired Location: </p>
<p class="border-bottom text-center txt-sml"> {{ user.profile.joblocation }} </p>
<br>
<br>
<button class="btn center txt-medium btn-lg"><a href='{% url "edit_profile" %}'>Update</a></button>

</div>

{% endblock %}
