{% extends 'base.html' %}
{% block content %}

<h2 class="text-center title">{{ user.username }}'s Profile</h2>


<div class="center main">
    <button class="btn center txt-sml btn-lg side"><a class="update-btn" href="{% url 'edit_profile' %}">Update</a></button>

    <br />

    <div class="row mt-5 profile-div-parent">
        <div class="profile-div col-sm col-md pr-2">
            <div>
            <span class="txt-medium txt-bold">LinkedIn Account:</span>
            <span class="txt-medium"><a href='{{user.profile.linkedin}}' target="_blank">{{ user.profile.linkedin }}</a></span>
            </div>
            <br>
            <div>
            <span class="txt-medium txt-bold">Github Account:</span>
            <span class="txt-medium"><a href='{{user.profile.github}}' target="_blank">{{ user.profile.github }}</a></span>
            </div>
            <br>
            <div>
            <span class="txt-medium txt-bold">Website / Portfolio:</span>
            {% if user.profile.website %}
            <span class="txt-medium"><a href='{{user.profile.website}}' target="_blank">{{ user.profile.website }}</a></span>
            {% else %}
            <span class="txt-medium txt-bold">None</a></span>
            {% endif %}
            </div>
        </div>
            <div class="line line-margin"></div>
        <div class="profile-div col-sm col-md">
        <div>
        <br>
            <span class="txt-medium txt-bold">Desired Position:</span>
            <span class="txt-medium">{{ user.profile.jobsearch }}</span>
            </div>
            <br>
            <div>
            <span class="txt-medium txt-bold">Desired Location:</span>
            <span class="txt-medium">{{ user.profile.joblocation }}</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
