{% extends 'base.html' %} 
{% block content %}
<div class="container-lg">
    <h2 class="text-center title">The Team</h2>

    <p class="txt-justify">Jobbly was created by 3 software engineering students as their third project for their bootcamp.</p>
    <p class="txt-justify">The idea behind it came from observing the necessity to help bootcamp students to stay on top of their job applications with a visually better organizational tool than the usual Google Sheets document with several different tabs, allowing users to focus on the job search instead of the tracking process.</p>
    <p class="txt-justify">All three members of the team acted together as full-stack engineers, but each one also had individual responsibilities as well:</p>
    <br>
    <br>

    <h4 class="font-weight-bold text-center">Bridget Asser</h4>
    <p class="txt-justify">Bridget channeled her passion for web development on both the front and back-end, with special dedication on wrangling the S3 resume upload and delete functionality. You can see more examples of her ninja-dev skills on her github page <a href="https://github.com/Bridgta" target="_blank">here</a>.</p>
    <br>
    <br>

    <h4 class="font-weight-bold text-center">Michelle Pitts</h4>
    <p class="txt-justify">Coming from a background in engineering, Michelle applied her analytical mindset to corral the Jobbly Data Models, Job Search API, calendar functionality and devOps. You can check out Michelle's other work on her github page <a href="https://github.com/meeschka" target="_blank">here</a>.</p>
    <br>
    <br>

    <h4 class="font-weight-bold text-center">Suzy Nakayama</h4>
    <p class="txt-justify">Suzy's meticulous attention to detail made her the perfect front end engineer, controlling most of the design and css for Jobbly. She also implemented the News API and the contacts search. You can see more of her fantastic looking (and high-performing!) applications on her github page <a href="https://github.com/suzynakayama" target="_blank">here</a>.</p>
    <br>
    <br>

    <h5>They also had an UX student as a consultant:</h5>

    <h4 class="font-weight-bold text-center">Annie Squarecircle</h4>
    <p class="txt-justify">With a background in industrial and furniture design, Annie's devotion to User Experience helped to guide Jobbly's design to be intuitive for the user's journey. You can check out Annie's work on her portfolio page <a href="https://www.anniesquarecircle.com" target="_blank">here</a>.</p>
    <br>
    <br>
</div>
{% endblock %}