{% extends 'base.html' %}
{% block content %}
<h2 class="text-center title">Delete Account</h2>

<div class="center">
    <h4 class="text-center">Are you sure you want to delete your account?
    </h4>

    <br />
    <br />

<form class="form center" action="{% url 'account_delete' %}" method="POST">
    {% csrf_token %}
		<div class="flex">
			<input class="btn txt-sml btn-md forced-margin" type="submit" value="Yes">
			<a class="btn txt-sml btn-md forced-margin" href="{% url 'profile' %}">No</a>
		</div>
</form>
{% endblock %}