{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="api-section">
<div class="api-block">
    <h2 class="text-center">USER's Calendar</h2>
    <div id="calendar"></div>
</div>

<div class="line"></div>

<div class="api-block">
    <h2 class="text-center">Today's Tech News</h2>
    <div id="news">
        <ul>
        {% for new in news.articles %}

            <li>{{ new.title }} <a href="{{ new.url }}" target="_blank">Read</a></li><br>

        {% endfor %}
        </ul>
    </div>
</div>
</section>

<hr>

<div class="scrapper">
    <img class="main-logo" src="{% static 'images/logo_transparent.png' %}" alt="logo" />
    <h2 class="text-center">Find a Job:</h2>
    <div class="center flex container">
    <input type="text" name="" id="" />
    <button class="btn btn-sml"><span class="icon"><i class="fas fa-search search-icon"></i></span><span class="text">Search</span></button>
    </div>
    <div id="scrapper-results"></div>
</div>
<hr>

<div class="main">
{% if user.application_set %}
    <h3 class="text-center">My Applications</h3>
    {% for application in user.application_set.all %}
        <ul>
            <li></li>
        </ul>
    {% endfor %}
{% else %}
    <div class="flex">
        <h3>You don't have any Applications yet.</h3>
    </div>
{% endif %}
</div>

{% endblock %}
