{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'scripts/landmarkListener.js' %}" defer></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

{% endblock %}
{% block content %}

<h2 class="title">Application For {{ application.jobtitle }} at {{ application.company }}</h2>

<form class="forced-margin" method="post">
    <table class="container-sm">
        <tbody>
        {% if application.joblisting %}
            <tr>
                <th class="appl-th-width">
                    <label>Job Listing</label>
                </th>
                <td>
                    <a class="d-inline" href='{{ application.joblisting }}' target="_blank"><input class="d-inline" value="{{ application.joblisting }}" readonly></input></a>
                </td>
            </tr>
        {% endif %}
        {% if application.resume %}
            <tr>
                <th class="appl-th-width">
                    <label>Resume:</label>
                </th>
                <td>
                    <a class="d-inline" href='{{ application.resume }}' target="_blank"><input class="d-inline" value="Resume" readonly></input></a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th class="appl-th-width">
                    <label>Applied:</label>
                </th>
                {% if application.applied %}
                <td>
                    <input class="d-inline" value="Yes" readonly></input>
                </td>
                {% else %}
                <td>
                    <input class="d-inline" value="No" readonly></input>
                </td>
                {% endif %}
            </tr>
            {% if application.applicationDate %}
            <tr>
                <th class="appl-th-width">
                    <label>Application Date:</label>
                </th>
                <td>
                    <input class="d-inline" value="{{ application.applicationDate }}" readonly></input>
                </td>
            </tr>
            {% endif %}
            {% if application.dueDate %}
            <tr>
                <th class="appl-th-width">
                    <label>Application Due Date:</label>
                </th>
                <td>
                    <input class="d-inline" value="{{ application.dueDate }}" readonly></input>
                </td>
            </tr>
            {% endif %}
            {% if application.notes %}
            <tr>
                <th class="appl-th-width">
                    <label>Notes:</label>
                </th>
                <td>
                    <input class="d-inline" value="{{ application.notes }}" readonly></input>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</form>
<br>

<div class="flex">
    <button class="btn center txt-sml file-upload-button ml-1 mr-1"><a href="{% url 'applications_update' application.id %}">Edit</a></button>
    <button class="btn center txt-sml file-upload-button ml-1 mr-1"><a href="{% url 'applications_delete' application.id %}">Delete</a></button>
    <button class="btn center txt-sml file-upload-button ml-1 mr-1" id="landmark-btn">Add Event</button>
    <button class="btn center txt-sml file-upload-button ml-1 mr-1" id="contact-btn">Add Contact</button>
</div>

<br>
<br>

<div class='modal' id='landmark-form'>
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="txt-center">Add Event</h5>
        <form method='POST' action='{% url "add_landmark" application.id %}'>
        {% csrf_token %}
        {{ landmark_form.as_p }}
        <input type='submit' class='btn file-upload-button' value='Add'>
        </form>
    </div>
</div>

<div class='modal' id='contact-form'>
    <div class="modal-content">
        <span class="close">&times;</span>
        <h5 class="txt-center">Add Contact</h5>
        <form method='POST' action='{% url "add_contact" application.id %}'>
        {% csrf_token %}
        {{ contact_form.as_p }}
        <input type='submit' class='btn file-upload-button' value='Add'>
        </form>
    </div>
</div>

<div class="center container-sm">
    <div class="row">
        {% for landmark in application.landmark_set.all %}
            <div class="col-sm-6">
                <div class="card contacts-card m-3">
                    <div class="card-title">
                        <h5 class="txt-bold txt-center pt-3">{{ landmark.name }}</h5>
                        <p class="m-3">{% if landmark.start_date_time %} On {{landmark.start_date_time}}
                        {% endif %}
                        {% if landmark.end_date_time %} until {{ landmark.end_date_time }}
                        {% endif %}
                        {% if landmark.location %} at {{ landmark.location }}
                        {% endif %} for the {{ application.jobtitle }} position at {{ application.company }}. 
                        {% if landmark.followup %} You have a follow-up reminder scheduled for {{ landmark.followup }}
                        {% endif %}
                        </p>
                        <div class="flex">
                            <a class="btn center txt-sml file-upload-button" href="{% url 'landmarks_update' landmark.id %}">Edit</a>
                            <a class="btn center txt-sml file-upload-button" href="{% url 'landmarks_delete' landmark.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>




<div class="center container-sm">
    <div class="row">
        {% for contact in application.contact_set.all %}
            <div class="col-sm-6">
                <div class="card contacts-card m-3">
                    <div class="card-title">
                        <h5 class="txt-bold txt-center pt-3">{{ contact.name }}</h5>
                        {% if contact.email %}
                            <p class="m-3">Email: {{ contact.email }} </p>
                        {% endif %}
                        {% if contact.phone_number %}
                            <p class="m-3">Phone Number: {{ contact.phone_number }} </p>
                        {% endif %}
                        {% if contact.linkedin %}
                            <p class="m-3"><a href='{{ landmark.location }}'>Linkedin</a></p>
                        {% endif %}
                        {% if contact.notes %}
                            <p class="m-3">{{ contact.notes }}</p>
                        {% endif %}
                        <div class="flex">
                            <a class="btn center txt-sml file-upload-button" href="{% url 'contacts_update' contact.id %}">Edit</a>
                            <a class="btn center txt-sml file-upload-button" href="{% url 'contacts_delete' contact.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src={% static 'scripts/materializedatetimepicker.js' %} defer></script>
<script>
    $(document).ready(function () {
        const endDate = $('#id_end_date_time')
        M.AutoInit()
        const endDateField = MaterialDateTimePicker.create(endDate)

    })
    $(document).ready(function () {
        const startDate = $('#id_start_date_time')
        M.AutoInit()
        const startDateField = MaterialDateTimePicker.create(startDate)
    })
    $(document).ready(function () {
        const followupDate = $('#id_followup')
        M.Datepicker.init(followupDate, {
            format: 'yyyy-mm-dd',
            setDefaultDate: false,
            autoClose: true
        });
    })
</script>
{% endblock %}