{% extends 'base.html' %} {% block content %}

<h2 class="txt-center title">{{ application.company }}'s Application</h2>

<div class="center container-lg container-sml">
        <p class="txt-medium"> Company:</p>
        <p class="txt-sml">{{ application.company }}</p>
        <p class="txt-medium">Job Title:</p>
        <p class="txt-sml">{{ application.jobtitle }}</p>
        <p class="txt-medium">Job Listing:</p>
        <p class="txt-sml">{{ application.joblisting }}</p>
        <p class="txt-medium">Resume:</p>
        <a href="{{ application.resume }}" class="txt-sml">{{ application.resume }}</a>
        <p class="txt-medium">Applied:</p>
        <p class="txt-sml">{{ application.applied }}</p>
        <p class="txt-medium">Apply Date:</p>
        <p class="txt-sml">{{ application.applicationDate }}</p>
        <p class="txt-medium">Apply By:</p>
        <p class="txt-sml">{{ application.dueDate }}</p>
        <p class="txt-medium">Notes:</p>
        <p class="txt-sml">{{ application.notes }}</p>

    <div class="flex">
        <button class="btn center txt-sml btn-md forced-margin"><a href="{% url 'applications_update' application.id %}">Edit</a></button>
        <button class="btn center txt-sml btn-md forced-margin"><a href="{% url 'applications_delete' application.id %}">Delete</a></button>
    </div>
</div>

{% endblock %}
