{% extends 'base.html' %} {% block content %}

<h2 class="text-center title">Applications</h2>

<div class="center container-lg">
    <button class="btn center txt-sml btn-md side">
        <a href="{% url 'applications_create' %}">Add</a>
    </button>

    <br/>

    <div class="center container-sm">
        <div id="display-contacts" class="row">
            {% for application in applications %}
            <div class="col-sm-6 col-md-4">
                <div class="card contacts-card m-3">
                    <div class="card-title">
                        <a
                            href="{% url 'applications_delete' application.id%}"
                            class="ml-2" >
                            <i class="far fa-times-circle"></i>
                        </a>
                        <a href="{% url 'applications_detail' application.id %}">
                            <h5 class="txt-bold txt-center pt-3">
                                {{ application.company }}
                            </h5>
                        </a>
                    </div>
                    <div class="card-content pl-3 pr-3">
                        {% if application.jobtitle %}
                            <h6 class="txt-medium d-inline">{{ application.jobtitle }}</h6>
                            <br />
                        {% endif %} 
                        {% if application.company %}
                            <h6 class="txt-medium d-inline">{{ aplication.company }}</h6>
                            <br />
                        {% endif %} 
                        {% if application.joblisting %}
                            <h6 class="txt-medium d-inline"><a href="{{ application.joblisting }}">Job Listing Here</a></h6>
                            <br />
                        {% endif %} 
                        {% if application.applied == True %}
                            {% if application.applicationDate %}
                                <h6 class="txt-medium d-inline">Applied On: {{ application.applicationDate }}</h6>
                                <br />
                            {% else %}
                                <h6 class="txt-medium d-inline">Applied</h6>
                                <br />
                            {% endif %}
                        <br />
                        {% elif application.applicationDate %}
                            <h6 class="txt-medium d-inline">Applied On: {{ application.applicationDate }}</h6>
                            <br />
                        {% elif application.dueDate %}
                            <h6 class="txt-medium d-inline">Apply By: {{ application.dueDate }}</h6>
                            <br />
                        {% else %}
                            <h6 class="txt-medium d-inline">You still need to apply</h6>
                            <br />
                        {% endif %}
                    </div>
                </div>
            </div>
            <br/>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
